{{- if glob (joinPath .chezmoi.homeDir ".Brewfile") -}}
#!/bin/bash

# Ensure this script runs on .tool-versions changes by including a hash of its file contents:
# ~/.tool-versions: {{ include (joinPath .chezmoi.homeDir ".tool-versions") | sha256sum }}

source /opt/homebrew/opt/asdf/asdf.sh

cd ~
asdf install
{{ end -}}
