{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

set -eufo pipefail

eval "$(/opt/homebrew/bin/brew shellenv)"

if ! brew list 1password-cli > /dev/null; then
  echo "===> Installing 1password-cli"

  brew tap homebrew/cask
  brew install 1password-cli
fi
{{ end -}}
