{{ if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

set -eufo pipefail

defaults write com.apple.dock autohide -bool true
defaults write com.apple.dock show-process-indicators -bool false
defaults write com.apple.dock show-recents -bool false
defaults write com.apple.dock orientation left

dockutil --remove all
dockutil --add /Applications/Safari.app
dockutil --add ~/Downloads

{{ end -}}
