{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

# Install the Xcode Command Line Tools.
if ! [ -f "/Library/Developer/CommandLineTools/usr/bin/git" ]; then
  echo "===> Installing Xcode Command Line Tools"

  CLT_PACKAGE=$(softwareupdate --list \
    | grep -B 1 "Command Line Tools" \
    | awk -F"*" '/^ *\*/ {print $2}' \
    | sed -e 's/^ *Label: //' -e 's/^ *//' \
    | sort -V \
    | tail -n1)
  sudo softwareupdate --install "$CLT_PACKAGE"

  xcode-select --install
fi

# Accept T&Cs
if /usr/bin/xcrun clang 2>&1 | grep $Q license; then
  sudo xcodebuild -license
fi
{{ end -}}
