{{ if eq .chezmoi.os "darwin" "linux" -}}

{{ $extensions := list
  "brofox86.theme-espresso-soda-light"
  "HookyQR.beautify"
  "keyring.Lua"
  "lunaryorn.fish-ide"
  "mdickin.markdown-shortcuts"
  "ow.vscode-subword-navigation"
  "patbenatar.advanced-new-file"
  "skyapps.fish-vscode"
  "stkb.rewrap"
  "tonsky.theme-alabaster"
  "wmaurer.change-case"
-}}

#!/bin/bash

set -eufo pipefail

eval "$(/opt/homebrew/bin/brew shellenv)"

{{ range $extensions -}}
code --force --install-extension {{ . }}
{{ end -}}

{{ end -}}
