{{- if glob (joinPath .chezmoi.homeDir ".Brewfile") -}}
#!/bin/bash

# Ensure this script runs on .Brewfile changes by including a hash of its file contents:
# ~/.Brewfile: {{ include (joinPath .chezmoi.homeDir ".Brewfile") | sha256sum }}

eval "$(/opt/homebrew/bin/brew shellenv)"
brew bundle --no-lock --file ~/.Brewfile
{{ end -}}
