{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

set -eo pipefail

duti -s dev.zed.Zed .css  all
duti -s dev.zed.Zed .erb  all
duti -s dev.zed.Zed .js   all
duti -s dev.zed.Zed .json all
duti -s dev.zed.Zed .jsx  all
duti -s dev.zed.Zed .md   all
duti -s dev.zed.Zed .rb   all
duti -s dev.zed.Zed .sh   all
duti -s dev.zed.Zed .toml all
duti -s dev.zed.Zed .ts   all
duti -s dev.zed.Zed .tsx  all
duti -s dev.zed.Zed .txt  all
duti -s dev.zed.Zed .xml  all
duti -s dev.zed.Zed .yaml all
duti -s dev.zed.Zed .yml  all
{{ end -}}
