{{- if (eq .chezmoi.os "darwin") -}}

{{- $taps := list
-}}

{{- $brews := list
  "ack"
  "chezmoi"
  "cloc"
  "duti"
  "dockutil"
  "eza"
  "ffmpeg"
  "figlet"
  "fish"
  "gh"
  "git"
  "graphviz"
  "helix"
  "httpie"
  "imagemagick"
  "jq"
  "libdvdcss"
  "mise"
  "moreutils"
  "overmind"
  "p7zip"
  "pgcli"
  "pspg"
  "lazygit"
  "lf"
  "shellcheck"
  "tree"
  "watch"
  "wget"
  "yarn"
-}}
{{/* Dependencies for building ruby via mise */}}
{{- $brews = concat $brews (list
  "libyaml"
)
-}}
{{/* Dependencies for building postgres via mise */}}
{{- $brews = concat $brews (list
  "curl"
  "gcc"
  "icu4c"
  "ossp-uuid"
  "readline"
  "zlib"
)
-}}
{{ if .personal -}}
{{- $brews = concat $brews (list
  "yt-dlp"
)
-}}
{{ end -}}
{{ if .work -}}
{{- $brews = concat $brews  (list
  "awscli"
)
-}}
{{ end -}}

{{- $casks := list
  "1password"
  "1password-cli"
  "cloudflare-warp"
  "dash"
  "deckset"
  "discord"
  "fantastical"
  "firefox"
  "fmail3"
  "font-ia-writer-duo"
  "font-ia-writer-mono"
  "font-ia-writer-quattro"
  "font-comic-mono"
  "font-fantasque-sans-mono"
  "font-jetbrains-mono"
  "ghostty"
  "hammerspoon"
  "handbrake"
  "hazel"
  "iina"
  "imageoptim"
  "jordanbaird-ice"
  "keyboardcleantool"
  "launchbar"
  "logi-options-plus"
  "menuwhere"
  "monodraw"
  "netnewswire"
  "numi"
  "orbstack"
  "pika"
  "postico"
  "rapidapi"
  "radio-silence"
  "reflect"
  "rode-central"
  "slack"
  "tower"
  "transmit"
  "vivaldi"
  "vlc"
  "zed"
-}}
{{ if .personal -}}
{{- $casks = concat $casks (list
  "backblaze"
  "calibre"
  "kobo"
  "transmission"
  "zoom"
)
-}}
{{ end -}}
{{ if .work -}}
{{- $casks = concat $casks (list
  "setapp"
  "tuple"
)
-}}
{{ end -}}

{{- $apps := list
  "1password for Safari -> 1569813296"
  "Acorn 7 -> 1547371478"
  "AdGuard for Safari -> 1440147259"
  "Boop -> 1518425043"
  "DaisyDisk -> 411643860"
  "GoodLinks -> 1474335294"
  "Hush Nag Blocker -> 1544743900"
  "iA Writer -> 775737590"
  "Ivory -> 6444602274"
  "Keynote -> 409183694"
  "Marked 2 -> 890031187"
  "Numbers -> 409203825"
  "Pages -> 409201541"
  "Pathology -> 877848776"
  "Patterns -> 429449079"
  "Poolside FM -> 1514817810"
  "Refined GitHub -> 1519867270"
  "Shush -> 496437906"
  "SiteSucker -> 442168834"
  "Soulver -> 413965349"
  "System Color Picker -> 1545870783"
  "TableFlip -> 1462643128"
  "Tabs to Links -> 1451408472"
  "The Unarchiver -> 425424353"
  "Things 3 -> 904280696"
  "WorldWideWeb – Desktop -> 1621370168"
  "xScope 4 -> 889428659"
  "Yoink -> 457622435"
-}}

{{ range ($taps | sortAlpha | uniq) -}}
tap "{{ . }}"
{{ end }}
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end }}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end }}
{{ range ($apps | sortAlpha | uniq) -}}
{{- $app := split " -> " . -}}
mas "{{ $app._0 }}", id: {{ $app._1 }}
{{ end -}}

{{- end -}}
