{{- if (eq .chezmoi.os "darwin") -}}

{{- $taps := list
  "golangci/tap"
  "homebrew/cask-fonts"
  "homebrew/cask-versions"
-}}

{{- $brews := list
  "ack"
  "chezmoi"
  "cloc"
  "direnv"
  "duti"
  "exa"
  "ffmpeg"
  "figlet"
  "fish"
  "gh"
  "git"
  "golangci-lint"
  "graphviz"
  "helix"
  "httpie"
  "imagemagick"
  "jq"
  "libdvdcss"
  "mise"
  "moreutils"
  "overmind"
  "p7zip"
  "pgcli"
  "pspg"
  "lazygit"
  "lf"
  "shellcheck"
  "tree"
  "wget"
  "yarn"
-}}
{{/* Dependencies for building postgres via mise */}}
{{- $brews = concat $brews (list
  "gcc"
  "readline"
  "zlib"
  "curl"
  "ossp-uuid")
-}}
{{ if .personal -}}
{{- $brews = concat $brews (list
  "yt-dlp"
)
-}}
{{ end -}}
{{ if .buildkite -}}
{{- $brews = concat $brews (list
  "buildkite/buildkite/buildkite-agent")
-}}
{{ end -}}

{{- $casks := list
  "1password"
  "1password-cli"
  "aws-vault"
  "bartender"
  "bike"
  "caffeine"
  "dash"
  "deckset"
  "discord"
  "dockutil"
  "fantastical"
  "firefox"
  "fmail2"
  "font-ia-writer-duo"
  "font-ia-writer-duospace"
  "font-ia-writer-mono"
  "font-ia-writer-quattro"
  "font-comic-mono"
  "font-fantasque-sans-mono"
  "font-jetbrains-mono"
  "hammerspoon"
  "handbrake"
  "hazel"
  "iina"
  "istat-menus"
  "iterm2"
  "imageoptim"
  "keyboard-maestro"
  "keyboardcleantool"
  "launchbar"
  "logi-options-plus"
  "logseq"
  "menuwhere"
  "monodraw"
  "netnewswire"
  "numi"
  "orbstack"
  "paw"
  "pika"
  "postico"
  "radio-silence"
  "skype"
  "slack"
  "tower"
  "transmit"
  "visual-studio-code"
  "vlc"
  "zed"
  "zoom"
  "zulip"
-}}
{{ if .personal -}}
{{- $casks = concat $casks (list
  "backblaze"
  "calibre"
  "kobo"
  "transmission"
  "utm"
  "vivaldi"
)
-}}
{{ end -}}
{{ if .buildkite -}}
{{- $casks = concat $casks (list
  "google-chrome"
  "loom"
  "mimestream"
  "ngrok"
)
-}}
{{ end -}}

{{- $apps := list
  "1password for Safari -> 1569813296"
  "Acorn 7 -> 1547371478"
  "AdGuard for Safari -> 1440147259"
  "BBEdit -> 404009241"
  "Boop -> 1518425043"
  "DaisyDisk -> 411643860"
  "GoodLinks -> 1474335294"
  "Hush Nag Blocker -> 1544743900"
  "iA Writer -> 775737590"
  "Keynote -> 409183694"
  "Marked 2 -> 890031187"
  "Numbers -> 409203825"
  "Pages -> 409201541"
  "Pathology -> 877848776"
  "Patterns -> 429449079"
  "Poolside FM -> 1514817810"
  "Shush -> 496437906"
  "SiteSucker -> 442168834"
  "Soulver -> 413965349"
  "System Color Picker -> 1545870783"
  "Tabs to Links -> 1451408472"
  "The Unarchiver -> 425424353"
  "WorldWideWeb – Desktop -> 1621370168"
  "xScope -> 447661441"
  "Yoink -> 457622435"
-}}

{{ range ($taps | sortAlpha | uniq) -}}
tap "{{ . }}"
{{ end }}
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end }}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end }}
{{ range ($apps | sortAlpha | uniq) -}}
{{- $app := split " -> " . -}}
mas "{{ $app._0 }}", id: {{ $app._1 }}
{{ end -}}

{{- end -}}
