Include ~/.orbstack/ssh/config

Host *
  IdentityAgent ~/.1password/agent.sock

{{ if .work -}}
Host github.com
  User git
  IdentityFile ~/.ssh/personal_github_auth.pub
  IdentitiesOnly yes

# See also ~/.config/ssh/config-hotdoc
Host htdc-github
  Hostname github.com
  User git
  IdentityFile ~/.ssh/hotdoc_github_auth.pub
  IdentitiesOnly yes
{{ end -}}
