Include ~/.orbstack/ssh/config

Host *
  IdentityAgent ~/.1password/agent.sock

{{ if .buildkite -}}
  {{- (index (onepassword "dotfiles: .ssh/config" "Private" "buildkite").fields 0).value }}
{{- end -}}
