[user]
  name = Tim Riley
  email = {{ .email }}
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJVeJ3lQW5izwzDWUCoZMlnDTv9FahsJoHVlpQvpqxZe
[core]
  editor = zed -n -w
  excludesfile = ~/.config/git/ignore
  autocrlf = input
  attributesfile = ~/.config/git/attributes
[color]
  ui = auto
[credential]
  helper = osxkeychain
[gpg]
  format = ssh
[gpg "ssh"]
  program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[init]
  defaultBranch = main
[branch]
  sort = -committerdate
[commit]
  gpgsign = true
[push]
  default = current
  autoSetupRemote = true
[remote]
  pushDefault = origin
[fetch]
  prune = true
[merge "merge-structure-sql"]
  name = Rails structure.sql merge driver
  driver = git-merge-structure-sql %A %O %B
[alias]
  ap = add --patch
  co = checkout
{{ if .work -}}
[includeIf "gitdir:~/Source/thelookoutway/"]
  path = config-tlw
[includeIf "gitdir:~/src/thelookoutway/"]
  path = config-tlw
{{- end }}
