[user]
  name = Tim Riley
  email = {{ .email }}
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJVeJ3lQW5izwzDWUCoZMlnDTv9FahsJoHVlpQvpqxZe
{{ if .buildkite -}}
[includeIf "gitdir:~/Source/buildkite/"]
  path = config-buildkite
[includeIf "gitdir:~/src/buildkite/"]
  path = config-buildkite
{{- end -}}
[core]
  editor = code -n -w
  excludesfile = ~/.config/git/ignore
  autocrlf = input
[color]
  ui = auto
[credential]
  helper = osxkeychain
[gpg]
  format = ssh
[gpg "ssh"]
  # See https://1password.community/discussion/131318/ssh-commit-signing
  program = {{ .chezmoi.homeDir }}/.config/git/gpg-ssh-program
[commit]
  gpgsign = true
[push]
  default = current
  autoSetupRemote = true
[remote]
  pushDefault = origin
[fetch]
  prune = true
[alias]
  ap = add --patch
  co = checkout
